body, html{
    overflow-x: hidden !important;
    height: 100vh;
}

.main{
    min-height: 100% !important;
    padding-bottom: 70px !important;
}

#footer{
    background-color: #fff;
    position: relative;
    height: 70px;
    margin-top: -70px;
    clear: both;
    bottom: 0 !important;
    padding-top: 2%;
}